@mixin wh100 {
  width: 100%;
  height: 100%;
}
@mixin bkgc($color) {
  background-color: $color;
}
@mixin el-card-style {
  box-shadow: 0 2px 5px rgba($color: #000000, $alpha: 0.1);
  min-width:1200px;
}
